<footer>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 237 360 18.3"><polygon points="101.2 254.6 0 248.2 0 254.9 360 254.9 360 237.1 " fill="#FFF"/></svg>
  <div class="contact">
    <h3>say hello</h3>
    <p>
      <span class="myname">Kelly Anne Pipe</span><br />
      <span class="mytitle">Web Developer & Designer</span><br />
      <span class="myemail"><a href="mailto:kellyanne.pipe@gmail.com">kellyanne.pipe@gmail.com</a></span>
    </p>
  </div>
  <div class="contact-icons">
    <p>
      <a href="https://github.com/kellygrape"><i class="fa fa-github" aria-hidden="true" title="View my code on Github"></i>
        <span class="sr-only">View my code on Github</span></a>
      <a href="https://twitter.com/kellygrape"><i class="fa fa-twitter" aria-hidden="true" title="Follow me on Twitter"></i>
        <span class="sr-only">Follow me on Twitter</span></a>
    </p>
  </div>
</div>
</footer>