<header role="banner">
  <div class="container">

    <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>

    <nav class="nav-collapse">
      <ul class="noList">
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
        <li class="element {{ current }}">
          <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
        </li>
        {% endfor %}
        <li><a href="https://github.com/kellygrape" target="_blank">GitHub</a></li>
      </ul>
    </nav>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 237 360 18.3"><polygon points="101.2 254.6 0 248.2 0 254.9 360 254.9 360 237.1 " fill="#FFF"/></svg>
</header>
